.project {
    max-width: 370px;
    background-color: var(--project-card-bg);
    box-shadow: var(--box-shadow);
    border-radius: 10px;

}

.project__img {
    border-radius: 10px;
    height: 30vh;
    min-width: 370px;
      
}

.project__title {
    padding: 15px 20px 25px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    color: var(--project-card-text);
    height: 10vh;
}


@media (max-width: 620px) {
.project__img {
        border-radius: 10px;
        height: 30vh;
        min-width: 340px;
    }
}